
/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,900;1,200;1,300;1,600;1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,400;0,900;1,200;1,300;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');
*/


body{
    
    width: 1440px;
}

*{
    padding: 0;
    margin: 0;
    

}



nav .logo{
   position: relative;
   left: 100px;
   



}

   nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    

   }


  nav ul{
    position: relative;
    display: flex;
    gap: 1rem;
   flex: 1;
   text-align:center;
   left: 200px;
   

}



nav ul li{
    position: relative;
    list-style: none;
    top: 10px;
}

  nav ul li a{

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
    padding:30px 15px ;
    
    }


nav ul li a:hover{
      
        transition: 0.4s;
        color: rgb(0,56, 160, 1);
        
    }

    .search-bar{
        position: relative;
        
        float: right;
        
    }

 input[type=text]{
        position: relative;
        background:transparent ;
        width: 100px;
        height: 30px;
        border:none;
        outline: none;
        padding: 0 25px;
        border-radius: 21px 0 0 21px;
        border: 1px solid rgba(0, 51, 153, 1);
     }

        
  
    .search-bar button{
        position: relative;
        float: right;
        margin-right: 30px;
        border-radius: 0 21px 21px 0;
        width: 34px;
        height: 32px;
        border:none;
        outline: none;
        background: transparent;
        border:1px solid rgba(0, 51, 153, 1);
        
    }




/*================section 2 ====================================================*/

    .section-2{
        min-height: 600px;
        width: 1400px;
        background-image:linear-gradient(120deg,rgba(0, 51, 153, 0.5)50%,transparent 50%),
        url(./images/main.png);
        
        background-position: center;
        background-size: cover;
        position: relative;    

    }




    .text-box h1{
        position: relative;
        color: #ffffff;
        text-transform: uppercase;
        font-family: Poppins;
        font-size: 60px;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: 0.05em;
        text-align: left;
        top: 200px;
        left: 150px;
        
    }

    .text-box p{
        position: relative;
        color: #ffffff;
        font-family: 'Poppins';
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        top: 190px;
        left: 150px;
        width: 575px;
        height: 55px;
        
        
        
    }

    .text-box button{
        position: relative;
        background: transparent;
        padding: 7px;
        left: 150px;
        top: 230px; 
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        font-family: 'Poppins';
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width:242px ;
        height: 55px;
        
    }

    .text-box i{
         margin-left: 50px;
      
     

         
    }



    /* =======section-3 start========= */
    .section-3{
        position: relative;
        width: 1400px;
        height:500px;
        top: 100px;
        
    }


    .section-3 h1{
        
        color:  rgb(0,56, 153, 1);
        font-family: 'Poppins';
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;

    }

    .section-3 .image-container{
        display: flex;
        gap: 1rem;
        margin-left: 150px;

    }

     .section-3 h2{
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        color: rgba(0, 51, 153, 1);
        
    }





     .section-3 button{
        position: relative;
        font-family: 'Inter';
        top: 20px;
        left: 1100px;
        font-size: 18px;
        font-weight: 400;
        width: 136px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: rgba(0, 51, 153, 1);
        border: none;
        text-decoration-line: underline;
        background-color: transparent;
     }    


            
    button i{
        margin-left: 10px;    
   }


  /*======== section-3 end========== */




    .section-4{
        position: relative;
        top: 100px;
        width: 1440px;
        height: 420px;
        background: rgba(0, 51, 153, 0.1);

    }

    .section-4 .key-figures{
        display: flex;
        gap: 3rem;
        position: relative;
        left: 120px;
        top: 80px;
        
    }
       

    .section-4 .key-figures .num{
        
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 0px 5px 5px  rgba(0, 51, 153, 1) ;

    }

    

    .key-figures .num h1{

        font-family: 'Poppins';
        font-weight: 700px;
        line-height: 72px;
        font-size: 50px;
        margin-top: 20px;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgb(0, 51, 153);

      }

      .key-figures p{
        font-family: 'Poppins';
        font-weight: 500px;
        line-height: 24px;
        font-size: 16px;
        margin-top: 20px;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgb(0, 51, 153);

      }

/*===============our sector=======*/

      .section-5{
        position: relative;
        top: 180px;
        width: 1440px;
        height: 500px;
      }

      .section-5 h1{
        position: relative;
        font-family:'Poppins';
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        
        text-align: center;
        color: rgb(0, 51, 153);
      }

       .our-sector .img-box {
        display: flex;
        position: absolute;
        
        left: 120px;
        gap: 1rem;
    }



   .gradient-1{
    background-image: linear-gradient(180deg,transparent 80%, rgba(0, 51, 153, 0.5)20%),
    url(./images/our-sectors/img1.png);
    background-position: center;
    background-size: cover;
    position: relative;  
    width: 170px;
    height: 247px;

   }
   .gradient-2{
    background-image: linear-gradient(180deg,transparent 80%, rgba(0, 51, 153, 0.5)20%),
    url(./images/our-sectors/img2.png);
    background-position: center;
    background-size: cover;
    position: relative;  
    width: 170px;
    height: 247px;

   }
   .gradient-3{
    background-image: linear-gradient(180deg,transparent 80%, rgba(0, 51, 153, 0.5)20%),
    url(./images/our-sectors/img3.png);
    background-position: center;
    background-size: cover;
    position: relative;  
    width: 170px;
    height: 247px;

   }
   .gradient-4{
    background-image: linear-gradient(180deg,transparent 80%, rgba(0, 51, 153, 0.5)20%),
    url(./images/our-sectors/img4.png);
    background-position: center;
    background-size: cover;
    position: relative;  
    width: 170px;
    height: 247px;

   }
   .gradient-5{
    background-image: linear-gradient(180deg,transparent 80%, rgba(0, 51, 153, 0.5)20%),
    url(./images/our-sectors/img5.png);
    background-position: center;
    background-size: cover;
    position: relative;  
    width: 170px;
    height: 247px;

   }
   .gradient-6{
    background-image: linear-gradient(180deg,transparent 80%, rgba(0, 51, 153, 0.5)20%),
    url(./images/our-sectors/img6.png);
    background-position: center;
    background-size: cover;
    position: relative;  
    width: 170px;
    height: 247px;

   }

    .img-box h2 {
        position: relative;
        top: 200px;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    
    }








    /*======== .featured-project=========*/

.section-6 {
    position: relative;
    top: 50px;
    width: 1440px;
    height: 590px;
    background: rgb(230, 235, 245);
}

   .latest-update{
    position: relative;
    display: flex;
    align-items:center ;

    margin: auto;
    gap: 2rem;
    border:1px solid rgba(0, 51, 153, 1);
    border-radius: 8px;
    width: 970px;
    height: 70px;
    
    top: 30px;
    background-color: #ffffff;
    
  
}

    .latest-update p1 {
    position: relative;
    text-transform: uppercase;
    color:#ffffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    height: 70px;
    align-items: center; 
   background:rgba(0, 51, 153, 1);
    border:1px solid rgba(0, 51, 153, 1);
    border-radius:  8px  0 0 8px ;  
}

.latest-update p2{
    position: relative;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 772px;
    



}

   .featured-project h1 {
    color: rgb(0, 51, 153);
    font-family: 'Poppins';
    margin-top: 0px;
    font-size: 35px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
}

 .img-box2 {
    height: 270px;
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    gap: 1rem;
}

 .img-box2 h3 {
    color: rgb(0, 0, 0);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;
}

 .img-box2 h2 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgb(0, 51, 153);
    margin-top: 15px;
}


.img-box2 p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}





.section-7 {
    position: relative;
    top: 150px;
    width: 1440px;
    height: 770px;
    background: rgb(31, 31, 32);
}

.global-sec h1 {
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 35px;
        font-weight: 400;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
        top: 2700px;
    }
        
 .global-sec .img {
        margin-left: 150px;
    }


/*=============our client==========================*/

.section-8 {
        position: relative;
        top: 140px;
        width: 1440px;
        height: 540px;
        background: rgb(230, 235, 245);
    }


  .section-8 h1 {
        position: relative;
        color: rgb(0, 51, 153);
        font-family: 'Poppins';
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        text-align: center;
        top:30px;
    }


    .section-8  .img-box {
        position: relative;
        display: flex;
        margin-top: 50px;
        left: 50px;
        gap: 1rem;
    }

    .section-8  .img-box img {
        width: 260px;
        height: 260px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(0, 51, 153) 0px 5px 5px;
        border-radius: 5%;
        overflow: hidden;
        padding: 25px;
    }


   

    .section-9 {
        position: relative;
        top: 100px;
        width: 1440px;
        height: 735px;
        background: rgb(232, 233, 237);
    }


    .section-9  h1 {
        color: rgb(0, 51, 153);
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
        top: 40px;
    }



    .section-9  .img-local {
        margin-left: 160px;
        margin-top: 30px;
    }





/*===========news & insights=========*/
   
    .section-10 {
        position: relative;
        
        width: 1440px;
        height: 560px;
        background: rgb(230, 235, 245);
    }

     .section-10 h1 {
        position: relative;
        color: rgb(0, 51, 153);
        font-family: 'Poppins';
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
        top: 30px;
        
        
    }

      .section-10  .img-box2 {
        display: flex;
        margin-top: 50px;
        margin-left: 150px;
        gap: 0.5em;
    }

    .section-10 .img-box2 h3 {
        color: rgb(0, 51, 153);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: left;
    }



.section-10 .img-box2 p {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.img-box2 button{
    font-family: 'Inter';
    margin-top:15px ;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(0, 51, 153, 1);
    border: #EBE9E9;
    
}

    /*=================Location of BETS HQ=============================*/
       .section-11 {
        position: relative;
        top:30px ;
        width: 1440px;
        height: 735px;
        background: rgb(255, 255, 255);
    }

    .section-11 h1 {
        position: relative;
        top: 30px;
        color: rgb(0, 51, 153);
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
    }


    .section-11 .img-location {
        position: relative;
        left: 160px;
        margin-top: 50px;
        width: 1120px;
        height: 353px;
        color: rgb(0, 51, 153);
        overflow: hidden;
        border-radius: 10px;
        border-width: 10px;
    
    }


    /*=======footer section=======*/

    .section-12 {
        position: relative;
        width: 1400px;
        height:610px;
        position: absolute;
        top: 5890px;
        border-bottom:20px solid rgba(242, 182, 67, 1);
        background:linear-gradient(120deg,rgba(0, 51, 153, 0.5)50%,rgba(255, 255, 255, 0.1)50%),
        rgba(0, 51, 153, 1);
     
    }

    .section-12 .footer {
        position: relative;
        display:grid;
        grid-template-columns:repeat(3,1fr) ;
        gap: 1rem;
        width: 1440px;
        left: 100px;
        color: rgb(255, 255, 255);
        
    }

    .part-1 h1{
               
    position: relative;
    top: 50px;
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    }


     .part-1 h1::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #ffffff;
        margin-top: 30px;
        left: 2px;
      }
    


   .part-1 p {
    font-family: 'Poppins';
    width: 363px;
    height: 255px;
    size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top: 90px;
    text-align: justify;
    
}


.part-1 .about-img {
    position: absolute;
    width: 250px;
    height: 58px;
    top: 420px;
    
}


  .part-2 h1{
    
    position: relative;
    top: 50px;
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    

  }


  .part-2 h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 30px;
    left: 2px;
  }


 .part-2 .location  {
    margin-top: 90px;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    

  }
  .part-2 .location p{

    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    


  }



 .part-2 .contact-info{
    color: #ffffff;
    list-style: none;
    margin-bottom: 16px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;   
    align-items: center;
    display: flex;
    margin-top: 30px;
  }

  .part-3 h1{
    position: relative;
    top: 50px;
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    
  }


 .part-3 h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 30px;
    left:2px;
  }


   .part-3 .social-icons{
        
        width: 260px;
        height: 153px;
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1rem;
        margin-top: 40px;
        
    
     }

    
    .part-3  .social-icons .fa-brands{

    position: relative;
    top: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    color: rgba(0, 51, 153, 1);
    background: #EBE9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15%;
    overflow: hidden;
    
        
     }


     .part-3 .second{

        margin-top: 100px;
     }

     .second li{
        position: relative;
        top: 80px;
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        list-style:none;
        text-decoration-line: underline;
     
      }

    

  .copyright{
    position: relative;
    font-family: 'Poppins';
    font-size: 22px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    top: 140px;
  

  }




    
    
 


