
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,900;1,200;1,300;1,600;1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,400;0,900;1,200;1,300;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');


body{
    font-family: 'Poppins','Inter',sans-serif;
    width: 1400px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav .logo{
  position: relative;
  left: 100px;
  top: 10px;
  



}

  nav{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   border: 1px solid #ffffff;

  }


 nav ul{
   position: relative;
   display: flex;
   gap: 1rem;
  flex: 1;
  text-align:center;
  left: 300px;
  

}



nav ul li{
   position: relative;
   list-style: none;
   top: 10px;
}

 nav ul li a{

   font-family: 'Poppins';
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-decoration: none;
   color:rgba(0, 0, 0, 1);
   padding:30px 15px ;
   
   }


nav ul li a:hover{
     
       transition: 0.4s;
       color: rgb(0,56, 160, 1);
       
   }

   .search-bar{
       position: relative;
       
       float: right;
       
   }

input[type=text]{
       position: relative;
       background:transparent ;
       width: 100px;
       height: 30px;
       border:none;
       outline: none;
       padding: 0 25px;
       border-radius: 21px 0 0 21px;
       border: 1px solid rgba(0, 51, 153, 1);
    }

       
 
   .search-bar button{
       position: relative;
       float: right;
       margin-right: 30px;
       border-radius: 0 21px 21px 0;
       width: 34px;
       height: 30px;
       border:none;
       outline: none;
       background: transparent;
       border:1px solid rgba(0, 51, 153, 1);
       
   }
   


   .section-2{
     
   position: relative;  
    height: 1100px;
    width: 1400px;
    border: 1px solid #0000;
  
  
  
  }


  .section-2 h1{
    position:relative;
    text-transform: uppercase;
    text-align: justify;
    width: 711px;
    height: 179px;
    left: 300px;
    color: rgba(0, 51, 153, 1);
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0.05em;
    
    padding: 0 10px;
    top: 30px;
    
    
  
    
}
  
   .section-2 .image-first{
  position: relative;
  width: 770px;
  height: 417px;
  top: 90px;
  left: 300px;
  right: 291px;
  align-items: center;
  }

  .section-2 .bets{
    position: relative;
    background-color:rgba(0, 51, 153, 1) ;
    height: 300px;
    width: 1400px;
    top: 100px;
    
  }

     .section-2 .bets p{
     position: relative;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ffffff;
    left: 120px;
     top: 50px;
    text-align: justify;
    padding-left: 30px;
    border-left: 2px solid #ffffff;
  
    
  }


 


  
 .section-3{
  position: relative;
  display: flex;
  width: 1400px;
  height: 380px;
  
  border: 1px solid #ffffff;
 
 }


 .section-3 .text{
    width: 570px;
    height: 275px;
    left: 150px;
    margin: 30px;
    top: 70px;
 }

 .section-3 .text p{
  position: relative;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: center;
  color: black;
  text-align: center;

  
 }

 .section-3 .text p span{
  position: relative;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-align: center;
  color: black;
  text-transform: uppercase;
 }


 .section-3 .text h1{
  position: relative;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(0, 51, 153, 1);
  text-decoration-line: underline;
  text-transform: uppercase;
  

  
 }


 .section-3 .img{
  position: relative;
  height: 340px;
  width: 617px;
  top: 70px;
 }

   .section-4{
      position: relative;
      width: 1400px;
      height: 1380px;
      background-color:rgba(0, 51, 153, 0.1) ;

   }

.section-4 h1{
  position: relative;
  text-align: center;
  color: rgba(0, 51, 153, 1);
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.05em;
  top: 45px;
  text-transform: uppercase;
  
}

 .job-details .first-row{
  
     position: relative;
     display: flex;
     gap: 12rem;
     height:100px;
     width: 1100px;
     background-color: #ffffff;
     top: 100px;
     left: 100px;
     border-radius: 10px;

}

.first-row li{
  position: relative;
  list-style: none;
  top: 40px;
  left:30px;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: capitalize;
  
}

.first-row  .btn{
       
  position: relative;
  list-style: none;
  position: relative;
  list-style: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  width:190px;
  height: 61px;
  top: 20px;
  border:2px solid #000000;
  border-radius: 10px;

      
}

.job-details .second-row{
  position: relative;
  background-color: #ffffff;
  top: 150px;
  left: 100px;
  height: 600px;
  width: 1100px;
  border-radius: 10px;
}

.second-row p{
  position: relative;
  top: 30px;
  left: 30px;

  text-transform: capitalize;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  
}

.second-row p strong{
    position: relative;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    

    
}
.second-row p span{
     position: relative;
     position: relative;
     font-family: 'Poppins';
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     letter-spacing: 0.05em;
}


.second-row h3{
  margin-top: 40px;
  margin-left: 30px;
  position: relative;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
}


.second-row h3 li{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;

}



.job-details .third-row{
  
  position: relative;
  display: flex;
  gap: 10rem;
  height:100px;
  width: 1100px;
  background-color: #ffffff;
  top: 200px;
  left: 100px;
  border-radius: 10px;

}

.third-row li{
position: relative;
list-style: none;
top: 40px;
left:30px;
font-family: 'Poppins';
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.05em;
text-align: left;
text-transform: capitalize;
}

.third-row .btn-1{
          
  position: relative;
  list-style: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  width:190px;
  height: 61px;
  top: 20px;
  left: 20px;
  border:2px solid rgba(0,51,153,1);
  border-radius: 10px;
  box-shadow: rgb(0, 51, 153) 0px 5px 5px;
  background-color: rgba(0, 51, 153, 1);
  color: #ffffff;
}





.job-details .fourth-row{
  
  position: relative;
  display: flex;
  gap: 12rem;
  height:100px;
  width: 1100px;
  background-color: #ffffff;
  top: 250px;
  left: 100px;
  border-radius: 10px;

}

.fourth-row li{
position: relative;
list-style: none;
top: 40px;
left:30px;
font-family: 'Poppins';
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.05em;
text-align: left;
text-transform: capitalize;
}

.fourth-row .btn-1{
          
  position: relative;
  list-style: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  width:190px;
  height: 61px;
  top: 20px;
  border:2px solid  rgba(0, 51, 153, 1);
  box-shadow: rgb(0, 51, 153) 0px 5px 5px;
  border-radius: 10px;
  background-color: rgba(0, 51, 153, 1);
  color: #ffffff;
}





             
    /*=======footer section=======*/
               


    .section-5 {
      position: relative;
      width: 1400px;
      height:610px;
      position: absolute;
      top: 2860px;
      border-bottom:20px solid rgba(242, 182, 67, 1);
      background:linear-gradient(120deg,rgba(0, 51, 153, 0.5)50%,rgba(255, 255, 255, 0.1)50%),
      rgba(0, 51, 153, 1);
   
  }

  .section-5 .footer {
      position: relative;
      display:grid;
      grid-template-columns:repeat(3,1fr) ;
      gap: 1rem;

      left: 100px;
      color: rgb(255, 255, 255);
      
  }

  .part-1 h1{
             
  position: relative;
  top: 50px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  }


   .part-1 h1::after{
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #ffffff;
      margin-top: 30px;
      left: 2px;
    }
  


 .part-1 p {
  font-family: 'Poppins';
  width: 363px;
  height: 255px;
  size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 60px;
  text-align: justify;
  margin-top:90px;
}


.part-1 .about-img {
  position: absolute;
  width: 250px;
  height: 58px;
  top: 420px;
  
}


.part-2 h1{
  
  position: relative;
  top: 50px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  

}


.part-2 h1::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 30px;
  left: 2px;
}


.part-2 .location  {
  margin-top: 90px;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  

}
.part-2 .location p{

  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  


}



.part-2 .contact-info{
  color: #ffffff;
  list-style: none;
  margin-bottom: 16px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;   
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.part-3 h1{
  position: relative;
  top: 50px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  
}


.part-3 h1::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 30px;
  left:2px;
}


 .part-3 .social-icons{
      
      width: 260px;
      height: 153px;
      display: grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
      gap: 1rem;
      margin-top: 40px;


   }

  
  .part-3  .social-icons .fa-brands{

  position: relative;
  top: 50px;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: rgba(0, 51, 153, 1);
  background: #EBE9E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15%;
  overflow: hidden;
  
      
   }


   .part-3 .second{

      margin-top: 100px;
   }

   .second li{
      position: relative;
      top: 80px;
      font-family: 'Poppins';
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      list-style:none;
      text-decoration-line: underline;
   
    }

  

.copyright{
  position: relative;
  font-family: 'Poppins';
  font-size: 22px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  top: 140px;


}

















/*==========footer section===================*/
    

